{% extends '@IIABStudentTransfer/admin.html.twig' %}

{% block body %}
    {{ parent() }}

    <section>
        <p>Display admin options here</p>
    </section>
    <section>

    </section>
{% endblock %}


